h1, h2, h3, h4 {
  font-family: 'Slabo 27px', serif;
}


.main-content-index {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.main-content-container-first {

}
.main-content-container-first img {
  width: 600px;
  height: 367px;
}

.main-content-index {
  /*background-color: red;*/
}
.main-content-container-left {
  color: white;
  background-color: coral;
  z-index: 10;
  width: 400px;
  padding: 30px;
  margin-left: -60px;
  margin-top: 50px;
}

.main-content-container-right {
  color: white;
  background-color: teal;
  z-index: 10;
  width: 400px;
  padding: 30px;
  margin-right: -60px;
  margin-top: 50px;
}

.main-content-title-right {
  text-align: right;
}

footer {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	/*border: 2px solid green;*/
	padding-top: 10px;
}

.fa {
	color: black;
}
