/*  --------------   *\
        Navbar
\*   -------------- */
.header-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding-top: 10px;
    position: fixed;
    background-color: white
}

.header-nav-buttons-list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
}

.header-nav-buttons {
    margin: 0 15px;
    font-size: 1em
}

.logo {
    height: 6em;
}

.header-nav-buttons-social {
    color: black;
    font-size: 1.5em
}

.header-hero-image {
    background: url(../images/hero.jpg) no-repeat center;
    background-size: cover;
    display: flex;
    align-items: center;
    height: 600px
}

/*  --------------   *\
       Hero Image
\*   -------------- */

.header-hero-image-title {
        color: white
}


.header-nav-buttons-links {
    text-decoration: none;
    color: black;
}
